In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [4]:
dataset = pd.read_csv('cell_samples.csv')
dataset

,ID,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [5]:
dataset = dataset[pd.to_numeric(dataset['BareNuc'],errors='coerce').notnull()]
dataset['BareNuc'] = dataset['BareNuc'].astype('int')
dataset.dtypes

/tmp/ipykernel_6345/2488212115.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['BareNuc'] = dataset['BareNuc'].astype('int')

ID             int64
Clump          int64
UnifSize       int64
UnifShape      int64
MargAdh        int64
SingEpiSize    int64
BareNuc        int64
BlandChrom     int64
NormNucl       int64
Mit            int64
Class          int64
dtype: object

In [6]:
features = dataset[['Clump', 'UnifSize', 'UnifShape', 'MargAdh', 'SingEpiSize',
       'BareNuc', 'BlandChrom', 'NormNucl', 'Mit']]
X = np.asarray(features)
y = np.asarray(dataset['Class'])

In [7]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=4)

# Rules
### Wnew = Wold + n(Yi-Yi^) * Xi
### BiasNew = BiasOld + n(Yi-Yi^)

In [16]:
class SLP :
    def __init__(learning_rate = 0.1,n_iteration=1000) :
        lr = learning_rate
        epochs = n_iteration
        weights = None
        bias = None
        
    def activation_function(activation) :
        if activation >= 0 :
            return 1
        else :
            return 0
        
    def fit(X,Y) :
        weights = np.zeros(X.shape[1])
        bias = 0
        for i in range(X.shape[0]) :
            y_pred = activation_function(np.dot(weights,X[i]) + bias)
            weights = weights + lr * (Y[i] - y_pred) * X[i]
            bias = bias + lr * (Y[i] - ypred)
    def predict(X) :
        pass

In [17]:
clf = SLP
clf.fit(X_train,y_train)

[0. 0. 0. 0. 0. 0. 0. 0. 0.] 0